html, 
body {
    height: 100%;
}

body {
    font-size: 18px;
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;  
}

.wrapper {
    width: 100%;
    min-width: 940px + 20px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}

.container {
    width: 940px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    font-weight: normal;
}

p {
    padding: 0;
    margin: 0;
}

table {
    border-collapse: collapse; //убирает двойные линии в таблицах
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

footer {
    position: relative;
    width: 100%;
}

a {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}