.btn {
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 100px;
    line-height: 1;
    background: $yellow;
    color: black;
    border: none;
    

    &:hover {
        color: $yellow;
        background: black;
    }

    &--theme--transparent {
        background: transparent;
        color: white;
        text-transform: none;

        &:hover {
            color: black;
            background: $yellow;
        }
    }
}