.btn {
    font-size: rem(16px);
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: rem(20px) rem(40px);
    border-radius: rem(100px);
    line-height: 1;
    background: $yellow;
    color: black;
    border: none;
    

    &:hover {
        color: $yellow;
        background: black;
    }

    &--theme--transparent {
        background: transparent;
        color: white;
        text-transform: none;

        &:hover {
            color: black;
            background: $yellow;
        }
    }
}