.feature {
    display: flex;
    width: rem(169px);
}

.feature__icon {
    width: rem(45px);
    margin-right: rem(7px);
}

.feature__text {
    font-size: rem(16px);
    font-weight: bold;
    min-width: rem(85px);
}