.order-section {
    background: url("../img/serf.jpg") center top / cover no-repeat;
    background-color: #2B2B2B;
    background-blend-mode: overlay;
    height: 100vh;
    min-height: rem(650px);
    color: white;
}