.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 10px;
    position: relative;

    &--checkbox {
        .radio__visible {
            border-radius: 4px;

        &:before {
            background: url('../img/check.jpg');
            background-repeat: no-repeat;
            background-position: center;
        }}
    }
}

.radio__elem {
    appearance: none;
    position: absolute;

    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
    &:focus ~ .radio__visible {
    border: 3px solid #FEDB3F;
    }
}

.radio__visible {
    width: 26px;
    height: 26px;
    position: relative;
    border-radius: 50%;
    background: white;
    margin-right: 10px;

    &::before {
        content: "";
        width: 14px;
        height: 14px;
        background: #FEDB3F;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
    }
}